<h2>生成された画像の確認</h2>
<div>
  <%= image_tag @twitter_post.picture, width: '315' %>
</div>

<h2>Step 3</h2>
<!-- Twitter投稿へのリンク。(herokuでアプリ作成後にurlを追記する) -->
<a href="#" target="_blank" class="square_btn" data-show-count="false">Twitter投稿へ</a>

<div>
  <%= link_to "トップページへ", root_path %>
</div>

