<div>
  <%= image_tag 'top.png', width: '315'  %>
</div>

<div>
  <p>Serifooはあなたが好きな名セリフが入った画像を自動生成して、ツイートができるサービスです</p>
  <p>簡単3StepでTwitter投稿！</p>
  <p>作成する画像を確認してからツイートするか決められます！画像作成してみてください</p>
</div>

<!-- 部分テンプレート -->
<%= render 'form', twitter_post: @twitter_post %>
